/*  your css code here. If applicable */
body {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c35;
}

.container {
    display: grid;
    grid-template-columns: repeat(20, 40px);
    gap: 5px;
}

.square {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    transition: background-color 0.5s ease-out;
}

.square:hover {
    background-color: lightcoral;
}

